#tial {
        text-align: center;
        text-decoration: solid;
        color: purple;
        
}
.boxer {
    box-sizing: border-box;
    padding: 0px;
    border: 5px black solid;
    border-radius: 10px;
    
}
.head_1, .head_2, .head_3 {
    color: black;
    margin-right: 0px;
    margin-top: 0px;
    border: 5px black solid;
    float: right;   
    background-color:blueviolet;
    border-radius: 5px;
    overflow: auto;
}
.card_1 ,.card_2 ,.card_3 {
    float: left;
    background-color: aqua;
    border-radius: 10px;
   
}

   /* Desktop view*/
@media screen and (min-width:992px){
 .card_1, .card_2, .card_3{
    width: 33%;
    margin: 0.16%;
    }

}

   /* Tablet view*/
@media screen and (min-width:768px) and (max-width:991px){
    .card_1, .card_2{
       width: 49%;
       margin: 0.5%;
       }
       .card_3{
        width: 99%;
        margin: 5px;
       }
   
   }
   /* mobile view*/
   @media screen and (max-width:767px){
    .card_1 ,.card_2 ,.card_3{
       width: 99%;
       margin: 0.5%;
       }
   
   }
      